---
apiVersion: machine.openshift.io/v1beta1
kind: MachineSet
metadata:
  labels:
    machine.openshift.io/cluster-api-cluster: {{ infrastructureID }}
  name: {{ machinesetName }}
  namespace: openshift-machine-api
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-cluster: {{ infrastructureID }}
      machine.openshift.io/cluster-api-machineset: {{ machinesetName }}
  template:
    metadata:
      labels:
        machine.openshift.io/cluster-api-machine-role: worker
        machine.openshift.io/cluster-api-machine-type: worker
        machine.openshift.io/os-id: Windows
        machine.openshift.io/cluster-api-cluster: {{ infrastructureID }}
        machine.openshift.io/cluster-api-machineset: {{ machinesetName }}
    spec:
      metadata:
        labels:
          node-role.kubernetes.io/worker: ""
      providerSpec:
        value:
          ami:
            id: {{ ami }}
          apiVersion: awsproviderconfig.openshift.io/v1beta1
          blockDevices:
            - ebs:
                iops: 0
                volumeSize: 120
                volumeType: gp2
          credentialsSecret:
            name: aws-cloud-credentials
          deviceIndex: 0
          iamInstanceProfile:
            id: {{ infrastructureID }}-worker-profile
          instanceType: {{ instanceType }}
          kind: AWSMachineProviderConfig
          placement:
            availabilityZone: {{ zone }}
            region: {{ region }}
          securityGroups:
            - filters:
              - name: tag:Name
                values:
                  - {{ infrastructureID }}-worker-sg
          subnet:
            filters:
            - name: tag:Name
              values:
                - {{ privateSubnetName }}
          tags:
            - name: kubernetes.io/cluster/{{ infrastructureID }}
              value: owned
          userDataSecret:
            name: windows-user-data
            namespace: openshift-machine-api
...
